.App {
  display: flex;
  flex-direction: column;

  text-align: center;

  height: 100vh;
  background-color: #303030;
  color: #fff;
}

.header-container {
  display: grid;
  grid-template-rows: 15% auto 30% 15%;
  height: 10%;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.footer-container {
  height: 15%;
}

/* #f90 #303030; */

/* common */
.button-container {
  width: 95%;
  display: flex;
  gap: 10px;
  margin-top: 3px;
  justify-content: flex-end;
  align-items: center;
}

.button-container > button {
  width: 60px;
  height: 25px;
  background-color: #303030;
  color: #fff;
  font-size: 12px;
}

.button-container > button:active {
  border: 1px solid #303030;
  background-color: #fff;
  color: #303030;
}

/* header */
.header-title {
  grid-row-start: 2;
  font-weight: bold;
}

/* main */
.main-container {
  width: 70%;
  height: 90%;
  max-width: 700px;
  min-width: 150px;
  min-height: 400px;
  background-color: #303030;
}

.main-nav {
  width: 150px;
  height: 30px;

  font-size: 12px;
  font-weight: bold;
  color: #303030;
}

.main-nav > ul {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-nav > ul > li {
  flex: 1;
  cursor: pointer;
  background-color: #ffffff;
  padding: 8px;
  height: 30px;
}

/* item list */
.main-itemList-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 93%;
}

.main-itemList-board {
  display: grid;
  gap: 3px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(6, 50px);
  width: 95%;
  height: 90%;
}

/* item */
.main-item-container {
  display: grid;
  grid-template-columns: 40% 60%;
  border: 1px solid #303030;
  border-radius: 5px;
  width: 143px;
  height: 50px;
}

.main-item-head {
  padding: 8px 5px 5px 5px;
}

.main-item-img {
  width: 25px;
  height: 30px;
}

.main-item-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #303030;
  font-weight: bold;
}

.main-item-title {
  padding: 1px;
  font-size: 13px;
}

.main-item-checkbutton {
  align-self: center;
  padding: 3px 0px;
  width: 50px;
  border: 1px solid #303030;
  border-radius: 5px;
  background-color: #fff;
  font-size: 5px;
}

.main-item-checkbutton:hover {
  background-color: #303030;
  color: #fff;
}

@media (max-width: 850px) {
  .main-itemList-container {
    width: 600px;
  }

  .main-itemList-board {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (max-width: 750px) {
  .main-itemList-container {
    width: 450px;
  }

  .main-itemList-board {
    grid-template-columns: 33% 33% 33%;
  }
}

@media (max-width: 550px) {
  .main-itemList-container {
    width: 300px;
  }

  .main-itemList-board {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 350px) {
  .main-itemList-container {
    max-width: 150px;
  }

  .main-itemList-board {
    grid-template-columns: 100%;
  }

  .button-container {
    justify-content: center;
  }
}
